<div class="container" id="centers_info">
  <h1 class="col-xs-offset-1">Centros Deportivos <i class="fa fa-heart fa-1x"></i></h1>
  <p class="col-xs-offset-1 col-xs-10">
    Como ya te habrás percatado. RateFit es una comunidad donde todo propietario de un centro deportivo de Gran Canaria
    puede darse a conocer
    a la isla. Así como informar a sus clientes de cualquier novedad, cambio de horario, etc.</p>
  <br><br>
  <p class="col-xs-offset-1 col-xs-10">Tambíen podrás atraer a nuevos clientes mediante el empleo de fotografías de tu
    centro. Además los usuarios pueden
    valorar
    mediante reseñas su opinión acerca de tu centro. De esta forma puedes recibir un feedback y mejorar los aspectos
    oportunos.</p>
  <br><br>
  <p class="col-xs-offset-1 col-xs-10">
    Para dar de alta a un centro es necesario que RateFit compruebe que cumples las características que ofertas, así
    como los servicios.
    Una vez realizado el trámite un empleado de RateFit visitará las instalaciones y corroborará la información ofrecida
    por el administrador del centro.
  </p>

  <div class="col-xs-offset-1 col-xs-10">
    <h2>Contacto: </h2>
    <h4><i class="fa fa-phone fa-1x"></i> 636546789</h4>
    <h4><i class="fa fa-envelope fa-1x"></i> ratefit@info.es</h4>
    <h4><i class="fa fa-map fa-1x"></i> Pedro Infinito Nº 1</h4>
  </div>
</div>
