<div class="container" id="centers_info">
  <h1 class="col-xs-offset-1">Centros Deportivos <i class="fa fa-group fa-1x"></i></h1>
  <p class="col-xs-offset-1 col-xs-10">
    Como ya te habrás percatado. RateFit es una comunidad donde todo áquel que desee puede
    darse a conocer en el mundo de los entrenadores personales en la isla de Gran Canaria. Así como informar a sus
    clientes de cualquier novedad, cambio de horario, etc.</p>
  <br><br>
  <p class="col-xs-offset-1 col-xs-10">Tambíen podrás atraer a nuevos clientes mediante el empleo de anuncios
    los cuales serán indexados por municipio. De forma que todo usuario interesado en las quedas de ponerse en forma
    puede hacerlo.
  </p>
  <br><br>
  <p class="col-xs-offset-1 col-xs-10">
    Únicamente tienes que rellenar un sencillo formulario para poder a darte a conocer mediantes anuncios en RateFit. Puedes tener
    un máximo de 3. Los cuales peudes editar y eliminar si lo deseas.
  </p>

  <div class="col-xs-offset-1 col-xs-10">
    <h2>Contacto: </h2>
    <h4><i class="fa fa-phone fa-1x"></i> 636546789</h4>
    <h4><i class="fa fa-envelope fa-1x"></i> ratefit@info.es</h4>
    <h4><i class="fa fa-map fa-1x"></i> Pedro Infinito Nº 1</h4>
  </div>
</div>
