<% if @user.errors.any? %>
  <% @info = "" %>
  <% @user.errors.messages.values.each do |msg| %>
    <% msg.each do |m| %>
      <% @info +=  m + "\n" %>
    <% end %>
  <% end %>
<% end %>

$("#info .modal-body").html("<div class='alert alert-danger'><%= j @info %></div>");
$("#info").modal("show");
