<div class="col-xs-10 col-sm-6 col-lg-5" id="custom_user_search">
  <h4 class="" style="color: #ffa33f"><strong>Búsqueda de entrenadores</strong></h4>
  <%= form_tag users_path, method: :get, remote: true do %>
      <div id="municipality_user" class="col-xs-12 col-sm-10 col-lg-10">
        <label for="mun_user">Municipio</label>
        <select name="mun_user" class="form-control" id="mun_user">
          <option>Las Palmas de Gran Canaria</option>
          <option>Tejeda</option>
          <option>Telde</option>
          <option>Gáldar</option>
        </select>
        <br>
        <div class="actions col-xs-12">
          <%= submit_tag 'Buscar Entrenador', class: 'btn btn-default' %>
          <br><br>
        </div>
      </div>
  <% end %>
</div>

<div id="centers_result" class="col-xs-12 col-sm-5 col-lg-6">
  <h2 id="results_title" class="">Entrenadores</h2>
  <% if @users.count > 0 %>
      <ul>
        <%= render @users %>
      </ul>
  <% else %>
      <p id='fail_search'>
        <strong>No hemos encontrado entrenadores en este municipio</strong>
        <br>
        <br>
      </p>
  <% end %>
</div>