<li>
  <%= div_for center do %>
      <h4>
        <p><%= link_to center.name, center %> </p>
        <p><strong>Direccion:</strong> <%= center.address %>, <strong>Telefono</strong>: <%= center.phone %></p>
      </h4>
  <% end %>
</li>
