<% if @center.center_images.count > 0 %>
    <div id="myCarousel" class="carousel slide col-xs-12 col-md-10" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% @center.center_images.each_with_index do |image, index| %>
            <% next unless index != 0 %>
            <li data-target="#myCarousel" data-slide-to="#{index}"></li>
        <% end %>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @center.center_images.first.photo.url(:original), alt: "Center Image" %>
        </div>
        <% @center.center_images.each_with_index do |image, index| %>
            <% next unless index != 0 %>
            <div class="item">
              <%= image_tag image.photo.url(:original), alt: "Center Image" %>
            </div>
        <% end %>

      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<% end %>
