<div class="row" id="ajax_search">
  <%= form_tag centers_path, method: "get", role: "search", class: "col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-6 col-lg-offset-1", remote: true do %>
      <p><strong>Buscar</strong></p>
      <div class="input-group">
        <%= text_field_tag :filter, params[:filter], class: "form-control", placeholder: "Centro deportivo, gimnasio, complejo" %>
        <div class="input-group-btn">
          <%= button_tag "Buscar", class: "btn btn-default", name: "" do %>
              <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<h2 id="results_title" class="col-xs-11 col-xs-offset-1">Centros Deportivos</h2>
<div id="centers_result" class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-lg-offset-1">
  <% if @centers.count > 0 %>
      <ul>
        <%= render @centers %>
      </ul>
  <% else %>
      <p id='fail_search'><strong>Su búsqueda no produjo ningún resultado. Por favor, intentelo de nuevo...</strong></p>
  <% end %>
</div>
