$("#adverts ul").append("<%= j render(@advert) %>");
$("#advert_modal").modal("hide");
$("#advert_modal input[type='text']").val("");
$("#advert_modal textarea").val("");
$("#info .modal-body").html("<div class='alert alert-success'>Se ha añadido su anuncio correctamente</div>");
$("#info").modal("show");
